<!DOCTYPE html>
<html lang="en">
<head>
    <title>MARKETSOFT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <%- include('layout/menu'); %>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                <h3>FORM EQUIPO</h3>
            </div>
            <div class="card-body">
                <form action="/equipo/save" method="post">
                    <div class="form-group">
                        <label for="txtIdEquipo">IDEQUIPO</label>
                        <input type="text" class="form-control"
                            id="txtIdEquipo"
                            name="idEquipo"
                            value="<%= equipoForm.idEquipo %>"
                            readonly>
                    </div>
                    <div class="form-group">
                        <label for="txtDescripcion">DESCRIPCION</label>
                        <input type="txt" class="form-control"
                            id="txtDescripcion"
                            name="descripcion"
                            value="<%= equipoForm.descripcion %>">
                    </div>
                    <div class="form-group">
                        <label for="txtPrecio">PRECIO</label>
                        <input type="text" class="form-control"
                            id="txtPrecio"
                            name="precio"
                            value="<%= equipoForm.precio %>">
                    </div>
<!--                     <div class="form-group">
                        <label for="txtPrecio">IMAGEN</label>
                        <input type="text" class="form-control"
                            id="txtImagen"
                            name="imagen"
                            value="<%= equipoForm.precio %>">
                    </div> -->
                    <input type="submit" class="btn btn-success" value="GUARDAR">
                </form>
            </div>
        </div>
    </div>
</body>
</html>